<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouTube</title>
    <link rel="stylesheet" href="/dist/app.css">
</head>
<body class="text-xs">
    <div>
        {% include 'partials/header.twig' %}
    </div>
    <div class="pt-14 relative">
        <div class="flex">
            <div class="z-50 inset-0 flex items-center justify-center">
                {% include 'partials/sign_in.twig' %}
            </div>
            <div class="pr-2 z-10 max-lg:hidden fixed h-screen">
                {% include 'partials/sidebar.twig' %}
            </div>
            <div class="ml-44 max-xl:ml-24 max-lg:ml-2">
                <div class="mb-4">
                    {% include 'partials/category.twig' %}
                </div>
                <div>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div>
        {% include 'pages/video.twig' %}
    </div>
    {% include 'partials/footer.twig' %}
</body>
</html>

