<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>YouTube</title>
		<link rel="stylesheet" href="/dist/app.css" />
	</head>
	<body class="text-xs">
		<div >{% include 'partials/header.twig' %}</div>
		<div class="pt-14">
			<div class="flex">
				<div class="pr-2">
					{% include 'partials/sidebar.twig' %}
				</div>
				<div class="flex flex-col">
					<div class="">
						{% include 'partials/category.twig' %}
					</div>
					<div class="m-auto ">
						{% block content %} {% endblock %}
					</div>
				</div>
			</div>
		</div>
		{% include 'partials/footer.twig' %}
		{% include 'partials/test.twig' %}
	</body>
</html>

