{% extends 'layouts/app.twig' %}

{% block content %}
<body>
    <div class="h-screen w-screen flex items-center justify-center ">
        <div class="w-2/3">
            <h1 class="text-3xl text-white mb-4">{{ videoTitle }}</h1>
            <div class="aspect-w-16 aspect-h-9">
                <video class="w-full h-full object-cover" controls>
                    <source src="{{ videoUrl }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
