{% extends 'layouts/app.twig' %} {% block content %}
<section>
	<div class="pl-2 flex items-center justify-start">
		<div class="w-2/3">
			<div class="">
				<video class="w-full h-full object-cover" controls>
					<source src="{{ attribute(media, title).video }}" type="video/mp4" />
				</video>
			</div>
		</div>
	</div>
</section>
{% endblock %}
