<div class="flex items-center">
    <button id="startButton" class="hover:bg-gray-200 hover:rounded-full ml-3 p-1">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5">
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
    </button>
    <a href="http://localhost:80" title="Главная страница">
        <img
            class="pl-5 w-20 h-7"
            src="https://www.gstatic.com/youtube/img/branding/youtubelogo/svg/youtubelogo.svg"
            alt
        />
    </a>

</div>



